.banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@mixin mixin-limit-max-width {
	// $width: 1660px;
	min-width: 1660px;
	padding: 0 calc((100% - 1660px) / 2);
}
.limit-max-width,
div[limit-max-width]{
	@include mixin-limit-max-width;
}

// .sticky {
// 	position: sticky;
// 	top: var(--data-top,100px);
// }