@import './theme.scss';
.banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@mixin mixin-limit-max-width {
	// $width: 1660px;
	min-width: 1660px;
	padding: 0 calc((100% - 1660px) / 2);
}
.limit-max-width,
div[limit-max-width]{
	@include mixin-limit-max-width;
}

.theme-type {
	@include GradualBGColor;
	color: #FFF;
}

.theme-border-button {
	display: grid;
	place-items: center;
	position: relative;
	z-index: 1;
	border-radius: 12px;
	color: #FFFFFF;
	@include GradualBGColor;
	&::after {
		content: '';
		display: block;
		z-index: -1;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		background-color: #292945;
		position: absolute;
		border-radius: 12px;
	}
}