@import "./class";
@import "./font";
*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	font-size: 1rem;
	color: #333333;
}
body {
	overflow-y: scroll;
}
li {
	list-style: none;
}
a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
img {
	vertical-align: middle;
	// width: 100%;
	-webkit-user-drag: none;//禁止图片拖动
}
// i {
// 	font-style: normal;
// }
// u {
// 	text-decoration: none;
// }
input {
	outline: 0;
}
textarea {
	resize: none;
}
div {
	background-repeat: no-repeat;
}
input[type="button"] ,
button {
	cursor: pointer;
	color: inherit;
	// border: #000000;
	border: 0;
	background-color: transparent;
	font-size: inherit;
}